@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thi is a page fot our trainings. Please login to check information about our kusrses and your  currently status.</p>
</div>
