@page
@model ProFit.Pages.Workouts.IndexModel
@{
}

<p>Scheme of our workouts</p>

@if (Model.workoutList.Count() > 0)
{
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Trainer's name</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
        
        @foreach (var workout in Model.workoutList)
        {
            <tr>
                <td>@(workout.Title)</td>
                <td>@(workout.Date)</td>
                <td>@(workout.Trainer?.Name)</td>
                <td>@(workout.WorkoutParticipants?.Count())</td>
                <td><a asp-page="/Workouts/DelWorkout" asp-route-workoutId=@(workout.Id)>Delete</a></td>

            </tr>
        }
    </table>      
}
